<div class="comment_form">
<h1 class="text-left">发表评论</h1>
  <%= simple_form_for [@blog, @comment] do |f| %>
    <%= f.error_notification %>
    <%= f.input :content, as: :kindeditor, label: false, input_html: { width: 700, height: 400 } %>
    <%= f.button :submit, value: '提交', class: 'btn btn-primary' %>
  <% end %>
</div>